---
layout: post
title: "Automatiko Events"
subtitle: "Upcoming events and conferences where Automatiko will be showcased"
date: 2021-05-30 15:45:00 +0100
background: '/img/posts/06.jpg'
---

<center>
<h3 class="section-heading">What to know more about Automatiko? Get in touch!</h3>
<p>
If you are interested in knowing more about Automatiko that is not covered in the upcoming
conference talk or you can't join the conference, please get in touch (via twitter or mailing list)
and we are more than happy to present Automatiko to you on meetups or user groups.
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ul class="list-inline text-center">
        {% if site.email %}
        <li class="list-inline-item">
          <a href="mailto:{{ site.email | encode_email }}">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li class="list-inline-item">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
    </div>
  </div>
</div>
</p>
</center>

<h2 class="section-heading">Upcoming</h2>

<ul>
   <li>The Developer Conference - Connections International</li>
   <li>JLove Converence</li>
   <li>ApacheCon Asia</li>
</ul>

<h3 class="section-heading">The Developer Conference - Connections International</h3>

<p>
  A talk given by Maciej Swiderski about workflow as a function flow to allow to slice your business logic into
  functions and events. A must see if you think about exploring functions but are concerned with losing the big picture.
  <ul>
    <li><b>When:</b> 10th of June 2021</li>
    <li><b>Type:</b> Virtual</li>
    <li><a href="https://thedevconf.com/tdc/2021/connections/registration"><b>Visit conference website</b></a></li>
  </ul>
</p>

<h3 class="section-heading">JLove Converence</h3>

<p>
  A talk given by Maciej Swiderski about workflow as a function flow to allow to slice your business logic into
  functions and events. A must see if you think about exploring functions but are concerned with losing the big picture.
  <ul>
    <li><b>When:</b> 25th of June 2021</li>
    <li><b>Type:</b> Virtual</li>
    <li><a href="https://jlove.konfy.care"><b>Visit conference website</b></a></li>
  </ul>
</p>

<h3 class="section-heading">ApacheCon Asia</h3>

<p>
  A talk given by Maciej Swiderski about workflow powered by Apache Cassandra. In distributed systems access
  to data is becoming more and more important so relying on state of the art data store is essential.
  <ul>
    <li><b>When:</b> 7th of August 2021</li>
    <li><b>Type:</b> Virtual</li>
    <li><a href="https://www.apachecon.com/acasia2021/"><b>Visit conference website</b></a></li>
  </ul>
</p>


<p>Photographs by <a href="https://unsplash.com/">Unsplash</a>.</p>
